**/.code-workspace
**/.vscode
**/*.pem
**/*.db
**/*.log
**/.pytest_cache
**/__pycache__
**/.env
**/credentials.json
**/token.json
**/build/**
**/dist/**
**/node_modules/**
**/package-lock.json
**/package.json
**/pnpm-lock.yaml
**/pnpm-workspace.yaml
**/**.egg-info

