# GUI

- Using Marimo dashboard during development/testing.

# Documentation

- [Get Block Children](https://developers.notion.com/reference/get-block-children)
- [Search](https://developers.notion.com/reference/post-search)
- [Retrieve a Page](https://developers.notion.com/reference/retrieve-a-page)
- [Pagination](https://developers.notion.com/reference/intro#pagination)

